@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    color: #000;
    background-image: url(imgs/main-imgs/bg-image-full.png);
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    font-size: 14px;
}

.wallpaper {
    height: 80vh;
    width: 100%;
    position: relative;
}

.wallpaper-inside img{
    height: 83vh;
    width: 100%;
    /* background-color: gray;
    border-radius: 0px 0px 100px 100px; */
    margin: 0 auto;
}

.wallpaper-text {
    position: absolute;
    top: 15%;
    left: 10%;
    font-size: 70px;
    font-weight: 300;
    color: #ffffff;
}

.wallpaper-text span {
    font-weight: 600;
    color: #fbd053;
}

.wallpaper-small-text {
    position: absolute;
    top: 76%;
    left: 10%;
    font-weight: 200;
    font-style: italic;
    color: #ffffff;
}

/* .body-content {
    background-color: rgba(202, 201, 201, 0.994);
} */

.what-actually-matters {
    margin: 0 auto;
    padding: 100px 0px;
    text-align: center;
    letter-spacing: normal;
}

.what-actually-matters h2 {
    font-weight: 600;
    padding-bottom: 30px;
}

.what-actually-matters p {
    font-weight: 300;
    letter-spacing: normal;
    font-size: 17px;
}



/* card section custom */
.what-we-do {
    padding: 0px 50px 100px 50px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    position: relative;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    height: 250px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-container {
    text-align: center;
}

.card-container h4 {
    font-size: 30px;
    color: #ffffff;
}

.card-container h4 span {
    color: #fbd053;
}

.card-container p {
    font-size: 10px;
    letter-spacing: normal;
    color: #ffffff;
}

.card-container p .arrow-icon {
    height: 10px;
    width: 10px;
}

.card-container .know-more a {
    color: #ffffff;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    position: relative;
}





/* ------------------- */
/* Container for flexboxes */
.row {
    display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
    flex: 1;
    padding: 10px;
}


/* card section custom */


.why-b2-world {
    padding: 0px 50px 100px 50px;
}

.b2-world-card .text img {
    width: 100px;
    height: 73px;
}

.b2-world-card .text p {
    font-size: 11px;
    text-align: center;
}

.make-your-mark {
    padding-bottom: 100px;
    position: relative;
}

.mark-text{
    position: absolute;
    top: 20%;
    left: 42%;
}

.mark-text h2 {
    font-size: 50px;
    color: #ffffff;
    font-weight: 400;
}

.mark-text button {
    padding: 5px 15px;
    font-size: 14px;
    border-radius: 0px 50px 50px 0px;
    margin-top: 30px;
    background-color: unset;
    border: 1px solid white;
    color: white;
    font-weight: 200;
    letter-spacing: 1px
}


.what-we-do-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-desktop {
    display: none;
}

.first{
    background-image: url(imgs/what-we-do-imgs/DM.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.second{
    background-image: url(imgs/what-we-do-imgs/GDS.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.third{
    background-image: url(imgs/what-we-do-imgs/SMM.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.forth{
    background-image: url(imgs/what-we-do-imgs/WDS.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.fifth{
    background-image: url(imgs/what-we-do-imgs/WDV.png);
    background-repeat: no-repeat;
    background-size: cover;
}





/* _-------------- custom mobile responsive css------------------------- */

@media only screen and (min-width: 768px) {
    /* .what-we-do .first {
        height: 250px;
    }

    .what-we-do .second {
        height: 255px;
        width: 183px;
        margin-top: 116px;
    }

    .what-we-do .third {
        height: 250px;
        margin-top: -125px;
    }

    .what-we-do .forth {
        width: 186px;
        height: 138px;
        margin-top: -14px;
    }

    .what-we-do .fifth{
        margin-top: -75px;
    } */
}

@media only screen and (max-width: 600px) {
    .wallpaper-text {
        font-size: 60px;
        top: 15%;
    }

    .wallpaper-small-text {
        font-size: 10px;
        top: 64%;
    }

    .what-we-do-left {
        display: none;
    }

    .what-we-do .title {
        display: none;
    }

    .title-desktop {
        display: unset;
        font-size: 35px !important;
    }

    .what-we-do-right {
        display: flex !important;
        justify-content: center !important;
    }

    .why-b2-world h2 {
        font-size: 40px !important;
    }

    .what-actually-matters{
        padding: 150px 20px 80px 20px;
    }

    .make-your-mark-bg {
        flex-direction: column;
        width: 85%;
    }

    .make-your-mark .image {
        height: 190px;
        width: 167px;
        margin: 30px;
    }

    .make-your-mark-bg .mark-text h2 {
        font-size: 32px;
    }
}